{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ message.user.id }}">
            <img src="{{ message.user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ message.text }}</p>
            {% if session['curr_user'] and message.user.id != session['curr_user'] %}
              <form method="POST" action="/users/likes/{{ message.id }}" id="messages-form">
                <button class="
                  btn 
                  btn-sm 
                  {{'btn-primary' if message.id in likes else 'btn-secondary'}}"
                >
                  {% for user in message.likes if user.id == session['curr_user'] %}
                      <i class="fa fa-star"></i>
                  {% else %}
                      <i class="far fa-star"></i>
                  {% endfor %}
                </button>
              </form>
            {% endif %}
          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}